# ==================================================
# Python
# ==================================================

__pycache__/
*.py[cod]
*.pyo

# ==================================================
# Virtual Environment
# ==================================================

venv/
.env
.env.*

# ==================================================
# Jupyter
# ==================================================

.ipynb_checkpoints/

# ==================================================
# Large H&M Dataset
# ==================================================

Data/Raw/HM/*.csv

# ==================================================
# Processed Data
# ==================================================

Notebooks/data/processed/*.parquet
Notebooks/data/processed/*.csv

# ==================================================
# Model Artifacts
# ==================================================

*.pkl

# ==================================================
# IDE
# ==================================================

.vscode/
.idea/

# ==================================================
# OS Files
# ==================================================

.DS_Store
Thumbs.db

# ==================================================
# Logs
# ==================================================

*.log

# ==================================================
# Temporary Files
# ==================================================

*.tmp
*.temp